
*{

@import "variables";


  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(../images/background.png);
    background-attachment: fixed;
  }

header{
    background-color: black;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
nav img{
    height: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-family: "Pixelify Sans", sans-serif;
    padding: 10px 20px;
}
nav div{
    display: flex;
    align-items: center;
    
    
}
header h1{
    font-size:1rem ;
    color: white;
    margin: 0;
}
.carousel-section{
    height: 70vh;
    overflow: hidden;
    margin-top: 20px;
}
nav ul {
    display: none;
}
main{
    margin-top: 70px;
}
footer{
    background-color: black;
    height: 8vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
}
 footer a{
    color: white;
}
footer p{
    margin: 0;
}
@media screen and (min-width: 768px){
    .carousel-section{
        margin-top: 30px;
    }
    header h1{
        font-size: 3vh;
        color: white;
    }
    header .menu-icon{
        display: none;
    }
    nav ul{
        display: flex;
        color: white;
        list-style: none;
        width: 50%;
        justify-content:space-around;
        

    }
    main{
        margin-top: 15vh;
    }
    header{
        
        height: 15vh;

    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
}




.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 300px;
  height: 300px;
  background-color: var(--background);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-button {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-button-link {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 768px){
  .container-menu {
    flex-direction: row;
  }
  
}

