/*Style bases for body, header, footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url(../images/82073184.png);
    background-attachment: fixed;
    background-size: 500px;
  }
  body p {
    font-family: "Roboto Mono", monospace;
  }
  
  header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-right: 10px;
  }
  nav img {
    height: 50px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-family: "Pixelify Sans", sans-serif;
    padding: 10px 20px;
  }
  h2,
  h3,
  h4 {
    font-family: "Pixelify Sans", sans-serif;
  }
  nav div {
    display: flex;
    align-items: center;
  }
  header h1 {
    font-size: 1rem;
    color: white;
    margin: 0;
  }
  nav ul {
    display: none;
    margin: 0;
  }
  main {
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding-top: 15px;
    background-color: black;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  }
  footer a {
    color: white;
  }
  footer p {
    margin: 0;
  }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
  }
  @media screen and (min-width: 993px) {
    footer {
      padding-top: 10px;
      background-color: black;
      height: 70px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      font-size: 12px;
    }
    header {
        height: 150px;
        padding: 10px 0;
      }
  
    nav {
      padding-left: 0;
    }
    header h1 {
      font-size: 3vh;
      color: white;
    }
    header .menu-icon {
      display: none;
    }
    nav ul {
      font-size: 1.5rem;
      display: flex;
      color: white;
      list-style: none;
      width: 70%;
      justify-content: space-around;
    }
  
    header {
      height: 15vh;
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    nav img {
      height: 50px;
    }
    nav a {
      text-decoration: none;
      color: white;
    }
    nav li:hover {
      transform: scale(1.5);
  
      transition: 1s;
    }
    nav a:hover {
      color: #e19200;
    }
  }
  /*End of Style bases for body, header, footer*/
  /* Start of social media styles */
  .transparent {
    border: 1px solid red;
    width: 100%;
    height: 10vh;
  }
  
  .socialmedia {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .socialmedia a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 25px;
  }
  
  .socialmedia a:hover {
    background: #000;
  }
  
  .whatsapp {
    background: #01cb37;
    color: white;
  }
  
  .instagram {
    color: white;
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .facebook {
    background: #3b5998;
    color: white;
  }
  
  .twitter {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .orderhere {
    position: fixed;
    bottom: 45vh;
    right: 0;
    height: 75px;
    width: 75px;
  
    background-color: #0dc600;
    color: white;
    border: 3px solid white;
    font-size: 1em;
    font-weight: 700;
  }
  .orderhere:hover {
    transform: scale(1.5) translateX(-20px);
    transition: 1s;
  }
  @media (max-width: 992px) {
    .socialmedia a {
      display: block;
      text-align: center;
      padding: 12px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }
  
    .orderhere {
      display: none;
    }
  }
  /* End of social media styles */
  .about-section {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    background-color: #202020;
    color: #e19200;
    width: 80vw;
    margin-top: 70px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  
  .about-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-top: 20px;
  }
  
  @media (min-width: 993px) {
    .about-section {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .about-text {
      margin-left: 20px;
    }
  }