/*Style bases for body, header, footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../images/82073184.png);
  background-attachment: fixed;
  background-size: 500px;
}
body p {
  font-family: "Roboto Mono", monospace;
}

header {
  background-color: black;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-right: 10px;
}
nav img {
  height: 50px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Pixelify Sans", sans-serif;
  padding: 10px;
  padding-left: 0;
}
h2,
h3,
h4 {
  font-family: "Pixelify Sans", sans-serif;
}
nav div {
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 1rem;
  color: white;
  margin: 0;
}
nav ul {
  display: none;
  margin: 0;
}
main {
  margin: 90px 0;
}
footer {
  padding-top: 10px;
  background-color: black;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 12px;
}
footer a {
  color: white;
}
footer p {
  margin: 0;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 0;
}
@media screen and (min-width: 993px) {
  header h1 {
    font-size: 3vh;
    color: white;
  }
  header .menu-icon {
    display: none;
  }
  nav ul {
    font-size: 1.5rem;
    display: flex;
    color: white;
    list-style: none;
    width: 70%;
    justify-content: space-around;
  }

  header {
    /* height: 15vh; */
    height: 150px;
    padding: 10px 0;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  nav img {
    height: 50px;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  nav li:hover {
    transform: scale(1.5);

    transition: 1s;
  }
  nav a:hover {
    color: #e19200;
  }
}
/*End of Style bases for body, header, footer*/
/* Start of social media styles */
.transparent {
  border: 1px solid red;
  width: 100%;
  height: 10vh;
}

.socialmedia {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.socialmedia a {
  display: block;
  text-align: center;
  padding: 16px;
  color: white;
  font-size: 25px;
}

.socialmedia a:hover {
  background: #000;
}

.whatsapp {
  background: #01cb37;
  color: white;
}

.instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.orderhere {
  position: fixed;
  bottom: 45vh;
  right: 0;
  height: 75px;
  width: 75px;

  background-color: #0dc600;
  color: white;
  border: 3px solid white;
  font-size: 1em;
  font-weight: 700;
}
.orderhere:hover {
  transform: scale(1.5) translateX(-20px);
  transition: 1s;
}
@media (max-width: 993px) {
  .socialmedia a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  .orderhere {
    display: none;
  }
}
/* End of social media styles */

/*Nausica code*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-sec {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sec {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-menu {
  background-color: #e19200;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 5vh;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  width: 80%;
  padding-bottom: 100px;
  position: relative;
}

.title {
  color: #e19200;
  text-align: center;
  font-size: 2rem;
  color: #920e00;
  text-shadow: 1px 1px black;
  margin-bottom: 20px;
}

.para-div {
  color: #202020;
  margin-top: 2rem;
  padding-left: 10px;
}

.menu-title {
  background-color: rgba(0, 0, 0, 0.678);
  margin-bottom: 5vh;
  width: 100%;
  color: #e19200;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 1px white, -1px -1px black;
}

.menu-pic {
  width: 100%;
}

.ordernow {
  text-align: right;
}

.ordernow a {
  text-decoration: none;
  font-family: Roboto Mono, monospace;
  color: white;
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 15px;
}

.ordernow button {
  background-color: #920e00;
  position: absolute;
  bottom: -50px;
  right: -60px;
  width: 130px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  height: 130px;
  border: none;
  border-radius: 50%;
}

.ordernow button:hover {
  background-color: white;
  box-shadow: 0 0 10px #202020;
}

.ordernow button:hover a {
  color: #920e00;
  font-size: bold;
}

form{
  display: inline-block;
  width: 80%;
  font-family: Roboto Mono, monospace;
}

label{
  font-weight: bold;
}

.form-div{
  display: flex;
  justify-content: space-between;
}

select {
  border-radius: 5px;
  width: 100px;
  height: max-content;
  color: #3f0600;
  background-color: #ffffffa6;

}

header i {
  font-size: 35px;
}

@media (min-width: 993px) {
  main {
    margin-top: 15vh;
  }

  .card-menu {
    flex-direction: row;
    padding-bottom: 0;
    width: 100%;
  }

  .card-menu p,
  label,
  h4 {
    font-size: 1rem;
  }

  .card-menu h3 {
    font-size: 3rem;
  }

  .menu-pic {
    width: 50%;
  }
  
  select{
    width: 100px;
  }
}
